@charset "UTF-8";

article, aside, footer, header, main, nav, section, figure, figcaption {
	display:  block;
	padding: 0;
	margin: 0;



}


html, body, h1, h2, h3, h4, h5, h6, ul, li, a, p, 
article, aside, footer, header, main, nav, section, figure, figcaption{
	
	padding: 0;
	margin: 0;
	list-style-type: none;
	
	
}
a :hover, a:visited, a:link, a:active{
    text-decoration: none;
}
html{
	background-color: #006837;
	margin-top: 20px;
	
	
}




body {
	background-color: #fff;
	width: 1000px;
	padding:0px;
	margin-left: auto;
	margin-right: auto; 
	
	
}

.satbbanner {
	height:158px;
	width:1000px;
	padding: 0px;
	margin:0px;
	
}


nav {
	background-color: #A67C52;
	margin: 0px;
	padding: 7px;
	border: solid 1px;
	border-color: #FBB03B;
	font-family: Arial, Times New Roman;
	font-size: 12pt;
	
	
}

nav ul li span{
	color: #FBB03B;
	font-size: 12pt;
}




li a {
	color: #42210B;
	font-size: 12pt;
	
}


 nav li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size:12pt;
	font-weight: bold;
	
}


section{
	width: 530px;
	background-color: #fff;
	margin-top: 0px;
	padding: 0px;
	text-decoration: none;
	
}

section h1{
	font-family: Times New Roman;
	font-size: 20pt;
	font-weight: bold;
	color: #004637;
	
	
}

section h2{
	font-family: Times New Roman;
	font-size: 15pt;
	font-weight: bold;
	color: #004637;
	
	
}

section h3{
	font-size: 10pt;
	font-family: Arial;
	color: #000;
	
	
}
/* 
section h4{
	font-size: 8pt;
	font-family: Arial;
	color: #000;
	
	
}
*/
section h5{
	font-size: 10pt;
	font-family: Arial;
	font-weight: bold;
	color: #000;
	
	
}
section h6{
	font-size: 10pt;
	font-family: Arial;
	font-weight: bold;
	color: red;
	
	
}

section ul li{
	font-size: 10pt;
	font-family: Arial;
	color: #000;
	
	
}


section p{
	font-size: 10pt;
	font-family: Arial;
	color: #000;
	
	
}





article{
	width: 530px;
	margin-top: 5px;
	padding: 5px;
		
}
article ul{
	width: 530px;
	margin: 0px;
	padding:  5px 5px 5px 10px;
		
}



main{
	width: 550px;
	float: left;
	padding: 5px;
	margin:0px;
}

aside{
	background-color: #fff;
	width: 350px;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 26px 30px 0px 0px;
	
}

aside header{
	margin: 0px 0px 0px 0px;
	
	
	
}


aside h2{
	font-family: Times New Roman;
	font-size: 18px;
	font-weight: bold;
	color: #004637;
	
	
}

aside h3{
	font-size: 14px;;
	font-family: Arial;
	color: #000;
	
	
}

/*
aside h4{
	font-size: 10px;
	font-family: Arial;
	color: #000;
	
	
}

*/
aside p{
	font-size: 15px;
	font-family: Arial;
	color: #000;
	
	
}

aside header{
	margin-bottom: 15px;
	
	
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


footer{
	clear: both;
	background-color: #20416c;
	padding: 20px 20px;
	text-align: center;
	
}

footer p{
	
	
	font-family: Arial;
	font-size: 20px;
	
	
}

figure {
	
	display: inline;
	margin: 5px 0px 5px 35px;
		
}

figure img{
	padding: 10px 20px 0px 10px;
	
	
	
}






